body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('https://cdn.discordapp.com/attachments/1061160749524860949/1184277123159052368/Untitled9_20231212163400.png?ex=658b6304&is=6578ee04&hm=74b2226a561661748b58c16ecd85c6bbe56c0388ec70942fe82c80039569db71');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    max-width: 800px;
    width: 100%;
    margin: 200px 0 20px;
}

.header img {
    max-width: 100%;
    height: auto;
}

.create-tab {
    text-align: center;
}

.button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.create-button {
    display: inline-block;
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

/* Added specific styling for each button */
#create-button1,
#create-button2,
#create-button3,
#create-button4,
#create-button5 {
    display: inline-block;
}

/* Added styling for the second row of buttons */
#create-button6,
#create-button7,
#create-button8,
#create-button9,
#create-button10 {
    display: inline-block;
}

.create-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
