body {
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.discordapp.com/attachments/1061160749524860949/1184277123159052368/Untitled9_20231212163400.png?ex=658b6304&is=6578ee04&hm=74b2226a561661748b58c16ecd85c6bbe56c0388ec70942fe82c80039569db71');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img {
    width: 100%; /* Set the width to 100% to fill the container */
    height: auto; /* Automatically adjust the height to maintain the aspect ratio */
}

.create-tab {
    text-align: center;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.create-button {
    display: inline-block;
    width: 120px; /* Adjust the width as needed */
    height: 120px; /* Set the height to match the width for square buttons */
    overflow: hidden;
    margin: 10px; /* Add some margin between buttons */
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

.create-button img {
    width: 100%; /* Set the width to 100% to fill the button */
    height: 100%; /* Set the height to 100% to maintain the aspect ratio */
    object-fit: cover;
}
